@charset "UTF-8";

body {
    background-image: url(../media/fundo.JPG);
}

@font-face {
    font-family: 'cursiva';
    src: url('../fontes/PlaywriteCOGuides-Regular.ttf') format('opentype');
    font-weight: normal;
}

:root {
    --fonte-cursiva: 'cursiva';
}

/* PRIMEIRA VIEWPORT */

/* POLAROID */

#polaroid .fita-branca {
    width: 300px;
    margin: -60px 0 0 190px;
    transform: rotate(20deg);
    position: absolute;
    z-index: 2;
}

.imagem-eu {
    width: 317px;
    margin: 98px 0 0 90px;
    transform: rotate(-9deg);
    position: absolute;
    z-index: 1;
}

.polaroid-template {
    width: 400px;
    margin: 55px 0 0 50px;
    transform: rotate(-9deg);
    position: static;
}

.polaroid-texto {
    font-family: "Playwrite AU SA", serif;
    margin: -90px 0 0 150px;
    z-index: 3;
    position: absolute;    
    transform: rotate(-9deg);
}

#primeira-viweport 
.uma-estrela-rosa { /* não passa do polaroid??? */
    width: 100px;
    margin: 10px 0 0 -27px;
    position: absolute;
    z-index: 3;
}

.duas-estrelas-rosas {
    width: 170px;
    margin: -30px 0 0 -270px;
    position: absolute;
    transform: rotate(-25deg);
}

.desenho-nuvem {
    width: 100px;
    margin: 20px 0 0 -600px;
    position: absolute;
}

.boneco-de-neve {
    width: 90px;
    margin: 500px 0 0 -605px;
    position: absolute;
}

.textinho {
    
    font-size: 12px;
    font-family: "Lexend Zetta", serif;
    margin: 0 0 0 400px;
}

/* Letreiro Principal */

.letreiro-principal-portifolio .letra-p {
    margin: -388px 0 0 600px;
    position: absolute;
}

.letreiro-principal-portifolio .letra-o {
    margin: -390px 0 0 666px;
    position: absolute;
}

.letreiro-principal-portifolio .letra-r {
    margin: -390px 0 0 730px;
    position: absolute;
}

.letreiro-principal-portifolio .letra-t {
    margin: -393px 0 0 783px;
    position: absolute;
}

.letreiro-principal-portifolio .letra-i {
    margin: -390px 0 0 843px;
    position: absolute;
}

.letreiro-principal-portifolio .letra-o-dois {
    margin: -390px 0 0 1120px;
    position: absolute;
}

.letreiro-principal-portifolio .letra-f {
    margin: -390px 0 0 890px;
    position: absolute;
}

.letreiro-principal-portifolio .letra-o-acentuado {
    margin: -390px 0 0 950px;
    position: absolute;
}

.letreiro-principal-portifolio .letra-l {
    margin: -390px 0 0 1025px;
    position: absolute;
}

.letreiro-principal-portifolio .letra-i-dois {
    margin: -390px 0 0 1075px;
    position: absolute;
}



.letreiro-principal-da-milly .letra-d {
    margin: -300px 0 0 650px;
    position: absolute;
}

.letreiro-principal-da-milly .letra-a {
    margin: -300px 0 0 705px;
    position: absolute;
}

.letreiro-principal-da-milly .letra-m-maiusculo {
    margin: -298px 0 0 817px;
    position: absolute;
}

.letreiro-principal-da-milly .letra-i-tres {
    margin: -300px 0 0 913px;
    position: absolute;
}

.letreiro-principal-da-milly .letra-l-dois {
    margin: -300px 0 0 960px;
    position: absolute;
}

.letreiro-principal-da-milly .letra-l-tres{
    margin: -300px 0 0 1000px;
    position: absolute;
}

.letreiro-principal-da-milly .letra-y {
    margin: -320px 0 0 1030px;
    position: absolute;
}

.exclamacao {
    width: 200px;
    margin: -500px 0 0 1120px;
    position: absolute;
}

.patinhas {
    width: 130px;
    margin: -368px 0 0 535px;
    position: absolute;
    transform: rotate(-30deg);
}

.risco {
    width: 400px;
    margin: -410px 0 0 735px;
    position: absolute;
}








/* SEGUNDA VIEWPORT */

.letra-u-maiusculo-acentuado {
    margin: 38px 0 0 30px;
}

.p-minusculo {
    position: absolute;
    margin: 120px 0 0 -400px;
}

.letra-r {
    position: absolute;
    margin: 120px 0 0 -330px;
}

.quarto-o {
    position: absolute;
    margin: 120px 0 0 -286px;
}

.segundo-j {
    position: absolute;
    margin: 120px 0 0 -239px;
}

.letra-e {
    position: absolute;
    margin: 120px 0 0 -190px;
}

.terceiro-t {
    position: absolute;
    margin: 120px 0 0 -130px;
}

.quinto-o {
    position: absolute;
    margin: 120px 0 0 -86px;
}

.segundo-s {
    position: absolute;
    margin: 120px 0 0 -30px;
}

.estrela-preta {
    width: 70px;
    position: absolute;
    margin: 70px 0 0 -15px;
    transform: rotate(-10deg);
}

.segunda-estrela-preta {
    width: 70px;
    position: absolute;
    margin: 165px 0 0 -450px;
    transform: rotate(10deg);
}

.folha-info {
    width: 610px;
    position: absolute;
    margin: -150px 0 0 700px;
}

/* Projetos */

.logo-info {
    position: absolute;
    width: 150px;
    margin: 120px 0 0 30px;
}

.logo-dquintal {
    position: absolute;
    width: 200px;
    margin: 97px 0 0 180px;
}