@charset "UTF-8";

body {
    background-image: linear-gradient(-87deg, #F3C9B1, #B793C9, #754FA9); /*ajeitar a direção do gradiente*/
}

nav#dados-pessoais {
    background-color: #ffffff54;
    margin: 8px 900px 0 9px;
    height: 568px;
    border-radius: 12px;
    position: absolute;
}

img.diemilly_foto {
    width: 203px;
    /*height: 295px;*/
    margin: 13px 0 0 117px;

    /* foto_elipse_figma */

    /*position: absolute;
    width: 303px;
    height: 295px;
    left: 65px;
    top: 25px;*/

}

h1.nome-idade {
    font-family: "Roboto", sans-serif;
    color: #121f35;
    font-weight: 500;
    font-style: normal;
    margin: 20px 170px 0 178px;
}

h2.cidade-estado-pais {
    color: #213762;
    font-weight: 300;
    font-style: normal;
    margin: 3px 5px 0 85px;

}

p.breve-bibliografia {
    color: #213762;
    font-weight: 400;
    font-style: normal;
    margin: 30px 30px 129px 30px;
}

nav#projetos {
    background-color: #ffffff54;
    margin: 8px 0 0 480px;
    height: 568px;
    border-radius: 12px;
    position: absolute;
}

h1.ultimos-projetos-titulo {
    font-family: "Roboto", sans-serif;
    color: #1a2c4d;
    font-weight: 500;
    font-size: 32px;
    font-style: medium;
    margin: 40px 600px 5px 30px;
}