@charset "UTF-8";

@font-face {
    font-family: 'cursiva';
    src: url('../fontes/TomatoesCake-RpOAl.ttf') format('opentype');
    font-weight: normal;
}

:root {
    --fonte-cursiva: 'cursiva';
}


/*  */

.section03 {
    display: flex; 
    position: relative;
    /* background-color: rgba(0, 26, 255, 0.349); */
    height: 580px;
}

/* ELEMENTOS */

.elementos-section03
.estrela-preta01 {
    width: 63px;
    display: flex;
    position: absolute;
    margin: 34px 0 0 540px;
}

.elementos-section03
.estrela-preta02 {
    width: 63px;
    display: flex;
    position: absolute;
    margin: 97px 0 0 540px;
}

.elementos-section03
.estrela-preta03 {
    width: 70px;
    display: flex;
    position: absolute;
    margin: 6px 0 0 0;
}

/* LETREIRO 03 */

.container-letreiro-section03 {
    /* background-color: rgba(215, 250, 236, 0.596); */
    width: 550px;
    height: 120px;
    margin: 20px 0 0 30px;
    padding: 5px;
}

.container-letreiro-section03 img {
    margin: 10px 0 0 10px;
}

/* EDUCAÇÃO */

.educacao {
    /* background-color: rgba(255, 76, 160, 0.425); */
    display: flex;
    position: absolute;
    margin: 185px 0 0 25px;
    font-family: "Lexend Zetta", serif;
    width: 646px;
    padding: 7px;
}

.uniasselvi {
    /* background-color: rgba(235, 235, 26, 0.493); */
    display: flex;
    position: absolute;
}

.ifam {
    /* background-color: rgba(10, 187, 10, 0.397); */
    margin: 75px 0 0 0;
    display: flex;
    position: absolute;
}

.ccaa {
    /* background-color: rgba(255, 0, 0, 0.39); */
    margin: 176px 0 0 0;
}

/* CURSOS */
.cursos {
    /* background-color: #615d5d7e; */
    font-family: "Lexend Zetta", serif; 
    color: rgba(0, 0, 0, 0.884);
    display: flex;
    position: absolute;
    z-index: 2;
    pointer-events: none;
    width: 630px;
    height: 470px;
    margin: 70px 0 0 110px;
    padding: 7px;
}

.clip {
    /* background-color: rgba(128, 128, 128, 0.521); */
    display: flex;
    position: absolute;
    right: 80px;
    top: -23px;
    z-index: 3;
    width: 120px;
}

.carta {
    /* background-color: antiquewhite; */
    display: flex;
    position: absolute;
    width: 300px;
    margin: -65.8px 0 0 270px;
    rotate: 95deg;
}

.folha {
    /* background-color: rgba(137, 43, 226, 0.308); */
    display: flex;
    position: absolute;
    width: 510px;
    height: 510px;
    margin: -25px 0 0 40px;
    z-index: 2;
}

.folha-conteudo {
    /* background-color: rgba(207, 88, 168, 0.568); */
    width: 400px;
    height: 400px;
    z-index: 3;
    margin: 38px 0 0 86px;
}

.curso01 {
    /* background-color: rgba(95, 158, 160, 0.452); */
    display: flex;
    position: absolute;
    width: 380px;
    margin: 12px 0 0 10px;
    font-size: 11px;
    line-height: 20px;
}

.curso02{
    /* background-color: #615d5d3b; */
    display: flex;
    position: absolute;
    width: 380px;
    margin: 70px 0 0 10px;
    font-size: 11px;
    line-height: 20px;
}

.curso03 {
    /* background-color: rgba(149, 224, 75, 0.425); */
    display: flex;
    position: absolute;
    width: 380px;
    margin: 128px 0 0 10px;
    font-size: 11px;
    line-height: 20px;
}

.curso04 {
    /* background-color: rgba(115, 75, 224, 0.425); */
    display: flex;
    position: absolute;
    width: 380px;
    margin: 185px 0 0 10px;
    font-size: 11px;
    line-height: 20px;
}

.curso05 {
    /* background-color: rgba(224, 75, 75, 0.425); */
    display: flex;
    position: absolute;
    width: 380px;
    margin: 243px 0 0 10px;
    font-size: 11.5px;
    line-height: 20px;
}

.curso06 {
    /* background-color: rgba(224, 221, 75, 0.425); */
    display: flex;
    position: absolute;
    width: 380px;
    margin: 300px 0 0 10px;
    font-size: 11px;
    line-height: 20px;
}

/* SOCIAIS */

.sociais {
    /* background-color: rgba(210, 105, 30, 0.603); */
    display: flex;
    position: absolute;
    margin: 500px 0 0 13px;
    padding: 5px;
    width: 200px;
    height: 63px;
}

.container-sociais {
    display: flex;
    position: absolute;
    gap: 10px;
    margin-left: 30px;
}

.icon-email {    
    width: 24px; 
    height: 24px;
    position: relative;
    transform: scale(1.7);
    fill: none;
    stroke: rgb(97, 93, 93);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin-top: 12px;
}

.icon-linkedin {
    width: 43px; 
    height: 43px;
    margin-top: 3px;
    cursor: pointer;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.icon-linkedin svg path {
    fill: #615d5d;
}

.icon-github {
    width: 43px; 
    height: 43px;
    transform: scale(1.6);
    cursor: pointer;
    margin-top: 18px;
    position: relative;
    z-index: 1;
}